@import "tailwindcss";
@plugin "daisyui";

/* Tailwind v4 এবং DaisyUI এর গ্লোবাল থিম কনফিগারেশন */
@theme {
  /* Main Colors */
  --color-primary: #6366f1;         /* Indigo-600 */
  --color-primary-light: #eef2ff;   /* Indigo-50 */
  --color-primary-dark: #4338ca;    /* Indigo-700 */
  --color-surface: #ffffff;
  --color-brand-black: #000000;         /* পিওর ব্ল্যাক */
  --color-brand-black-dark: #111111;

  /* Surface & Backgrounds */
  --color-surface: #ffffff;         /* Pure White (Cards/Tables) */
  --color-surface-alt: #f9fafb;     /* Gray-50 (App Background/Hover) */
  --color-surface-border: #f3f4f6;  /* Gray-100 (Borders) */

/* red */

--color-status-error: #ef4444;       /* Red-500 (ডিলিট আইকন বা টেক্সটের জন্য) */
  --color-status-error-bg: #fee2e2;    /* Red-100 (হালকা লাল ব্যাকগ্রাউন্ড) */
  --color-status-error-dark: #b91c1c;  /* Red-700 (হোভারের জন্য) */


  /* Status Colors */
  --color-status-success: #15803d;  /* Green-700 */
  --color-status-success-bg: #f0fdf4; /* Green-100 */

  /* Typography/Texts */
  --color-brand-text-main: #111827; /* Gray-900 */
  --color-brand-text-muted: #6b7280;/* Gray-500 */
  --color-brand-text-black:  #000000; 
  /* Custom Radius */
  --radius-hintro: 1rem;            /* 16px radius */
}

/* DaisyUI এর ডিফল্ট থিম ওভাররাইড (যাতে DaisyUI উপাদানগুলোও এই কালার পায়) */
:root {
  --p: 99 102 241;                  /* Primary Color in HSL/RGB spacing */
}